body {
  background: url(./img/main-bg.jpeg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: BlinkMacSystemFont;
  font-weight: bold;
}

header {
  display: flex;
  height: 100px;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 40px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20vh
}

.arrow {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
}

.hiddenMenu {
  display: none!important;
  display: flex;
  height: 0;
}

.pp {
  font-size: 25px;
}

.right-icons {
  margin-left: 70vw;
  display: inline-flex;
  justify-content: space-around;
}

.twitter {
  height: 38px;
  padding-left: 60vw;
}

.wrapper {
  display: inline;
}

.your {
  font-size: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (max-width:680px) {
  h2 {
    display: none;
  }
  .hiddenMenu {
    display: inherit!important;
  }
}
